*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;/*uper wale ko niche wale se thora dur karde*/
}
#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    margin-top: 40px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav h2{
    /* background-color: beige; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 21px;
    font-weight: 600;
}
#nav h1{
    /* background-color: beige; */
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav h2:nth-last-child(1){
    width: 10%;
    /* background-color: antiquewhite; */
}